        body {
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: white;
            align-items: center;
            height: 100vh;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head {
            height: 90px;
            display: flex; /* Flexbox para alinear contenido */
            max-width: 100%;
            background: linear-gradient(to bottom right, black, rgb(100, 0, 131)); /* Degradado de colores */
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;  
        }

        .banner-container {
            height: 755px; /* Altura del contenedor */
            max-width: 100%; /* Tamaño máximo del contenedor */
            display: flex; /* Permite que los banners se ajusten a nuevas filas */
            flex-wrap: wrap; /* Permite que los banners se ajusten a nuevas filas */
            justify-content: center; /* Centra horizontalmente los banners */
            gap: 50px; /* Espaciado entre los banners */
            align-items: center; /* Centra verticalmente los banners */
            background-color: whitesmoke; /* Color de fondo */  
            
        }
        
        .banner-link {
            width: 190px;
            height: 254px;
            z-index: 1;
        }

        .logos {
            align-self: center;
            max-width: 120px; /* Tamaño máximo de la imagen */
            max-height: 120px; /* Altura de la imagen */
            margin-top: 10px; /* Espaciado entre el texto y la imagen */
        }

     
        

        .footer-banner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            height: 100px;
            background: black;
            box-shadow: 5px 2px 0px rgba(0, 0, 0, 0.1);
            width: 100%;
            box-sizing: border-box;
            z-index: 998;
            position: relative;
            /* Distribuye el espacio entre los elementos */
            align-items: center;
            /* Evita que el pie de página se reduzca o colapse */
        }

                /* Contenido dentro del pie de página */
        .footer-content {
            display: flex;
            grid-area: 3 / 2 / 4 / 3;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            color: whitesmoke;
            flex-wrap: wrap;
            line-height: 1;
            text-align: center;
            
        }
        
        /* Títulos y texto */
        .footer-content h3 {
            font-size: large;
            margin: 5px 0;
        }
        
        .footer-content p {
            text-align: center;
            font-size: 0.9rem;
            margin: 3px 0;
            line-height: 1;
        }
        .footer-logo-container {
            grid-area: 3 / 3 / 4 / 4;
            width: 300px;
        align-self: stretch;
        justify-self: end;
        }
        .footer-image {
            width: 100%;
            height: auto;
        }
        
        .footer-content a {
            font-size: small;
            margin-bottom: 1px;
        }
        
        /* Estilo de íconos o enlaces sociales */
        .social-icons a {
            color: #fff; /* Color de los enlaces */
            text-decoration: none; /* Quita subrayado */
            margin: 0 5px; /* Espaciado entre íconos */
            font-size: 0.9rem; /* Tamaño del texto */
            transition: color 0.3s ease; /* Efecto de transición */
            line-height: 1;
        }
        
        .social-icons a:hover {
            color: #1e90ff; /* Cambia de color al pasar el cursor */
        }

        /* Estilo responsivo */
        @media (max-width: 768px) {

            .head {
                height: 60px;
                font-size: 0.5rem;
            }	


            .banner{
                padding: 5px;
                margin: 2PX 0;                
                width: 120px;
                height: 120px;
                font-size: 0.4rem;
                gap: 10px;
                
                
            }
            .logos{
                width: 80px;
                object-fit: contain;
                margin-top: 1px;
            }
            


            .footer-content h3 {
                font-size: 0.9rem;
            }

            .footer-content p {
                font-size: 0.7rem;
            }

            .social-icons a {
                font-size: 0.7rem;
                margin: 0 5px;
            }

            .footer-logo-container {
                right: 10px; /* Ajusta la posición en pantallas pequeñas */
                width: 100%;
            }
        }

        @media (max-width: 480px) {
            .banner {
                width: 100px;
                height: 100px; /* Reduce aún más el tamaño de los banners en pantallas muy pequeñas */
            }

            .footer-content h3 {
                font-size: 1rem;
            }

            .footer-content p {
                font-size: 0.8rem;
            }

            .social-icons a {
                font-size: 0.8rem;
            }
        }

